# macOS
.DS_Store

# Node / React
node_modules/
*.log
npm-debug.log*
yarn-error.log
pnpm-debug.log
.eslintcache
.next/
dist/
build/

# Frontend (klasörünüz "frontend" ise güvenli)
frontend/node_modules/
frontend/.next/
frontend/dist/
frontend/build/

# .NET (backend)
**/bin/
**/obj/
*.user
*.suo

# Docker - veritabanı/veri
postgis-docker/postgres_data/
**/pgdata/
**/pg_wal/

# IDE/Editor
.vscode/
.idea/
*.iml

# Env/Sırlar
.env
.env.*.local
.DS_Store

frontend/node_modules/
frontend/.next/
frontend/dist/
frontend/build/
*.log
npm-debug.log*
yarn-error.log
pnpm-debug.log

backend/**/bin/
backend/**/obj/
*.user
*.suo

docker/**/postgres_data/
docker/**/pgdata/
docker/**/pg_wal/

.env
.env.local
*.env
**/.env
**/.env
**/.env
